<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Extreme Feedback Carousel</title>
  <meta name="description" content="Rotate through your SDLC monitoring dashboards for a holistic view into the health of your product portfolio.">
  <meta name="author" content="NeverOddOrEven">

  <link rel="stylesheet" href="public/css/fonts.css">
  <link rel="stylesheet" href="public/css/index.css">

</head>

<body>
  <header id="efc-header"></header>
  <div id="efc-main">
    <!--<section id="efc-nav">NAV</section>-->
    <section id="efc-body">
      <div id="splash-screen">
        <div><p>Getting</p><p>started...</p></div>
      </div>
      <div id="configure-screen" style="display: none">
        <div><p>Configure</p><p>some</p><p>dashboards...</p></div>
      </div>
      <iframe class="hidden-while-loading" src=""></iframe>
    </section>
  </div>
  <footer id="efc-footer"></footer>
  <script src="public/lib/jquery/dist/jquery.min.js"></script>
  <script src="public/js/index.js"></script>
</body>
</html>