header#efc-header{
  margin: 10px 5px 5px 5px;
  flex: 0 0 1em;
  padding: 0;
  border: 0;
  border-radius: 5px;
}

header#efc-header > p {
  color: white;
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  font-family: 'Mukta Mahee';
  text-align: center;
  margin: 0;
}


html {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategrey;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div#efc-main {
  min-height: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

section#efc-nav {
  border-radius: 5px;
  margin: 5px;
  background: #ccccff;
  flex: 0 2 150px;
  order: 1;
}

section#efc-body {
  border-radius: 5px;
  margin: 5px;
  /*background: #889988;*/
  flex: 1 1 300px;
  order: 2;
  position: relative;
  overflow: hidden;
}

.hidden-while-loading {
  display: none;
}

section#efc-body > div {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
}

section#efc-body > div p {
  display: block;
  color: white;
  font-family: 'Libre Barcode 39 Extended Text';
  font-size: 3em;
}

section#efc-body > iframe {
  background-color: white;
  border-radius: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

footer#efc-footer {
  margin: 5px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

footer div#efc-time-remaining, div#efc-breadcrumbs-container {
  display: inline-block;
  margin: 5px;
  color: white;
  min-width: 30px;
  text-align: center;
  font-family: 'Mukta Mahee';
  font-size: 1em;
}

footer div.breadcrumb:first-child {
  border: 3px solid #9b8de0;
  background-color: #b1a4f2;
  font-weight: bold;
}

footer div.breadcrumb {
  border: 2px solid #237172;
  text-align: center;
  margin: 0 10px 0 10px;
  padding: 5px;
  display: inline-block;
  min-width: 200px;
  border-radius: 5px;
}

footer div.breadcrumb > p {
  color: #f0ffe0;
  margin: 0;
  font-size: 1em;
  font-family: 'Mukta Mahee';
}